/* --- --- --- --- --- General --- --- --- --- --- */
.Navigation {
    height: 40px;
}

hr {
    height: 1px;
    background-color: grey;
    border: none;
    opacity: 0.5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

table, tr, td{
    border: none;
}

/* --- --- --- --- --- Specific Items --- --- --- --- --- */
.HeaderTitle {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 450;
}

.HeaderSpace {
    width: 200px;
    background:transparent; 
    border:none; 
    color:transparent;
}

.PlatformButton {
    height: 40px;
    width: 250px;
    margin-left: 20px;
    border:none; 
    border-radius: 6px;
    background: #E5E6E6;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    opacity: 0.8;
    cursor: pointer;
}

.PlatformButton:hover {
    opacity: 1;
}

.PlatformButtonText {
    margin-top: 4px;
    margin-left: 12px;
}

/* --- --- --- --- --- Wallet Button --- --- --- --- --- */
.WalletButton {
    height: 40px;
    width: 180px;
    border:none; 
    border-radius: 24px;
    background: #2BFF00;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    opacity: 0.8;
    cursor: pointer;
}

.WalletButton:hover {
    opacity: 1;
}
